Repository mlila/skylab-bootcamp-201904, pull requests merged in 2019-04, with the labels that each got.

#1 itune api
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/itunes-api/index.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/itunes-api/index.spec.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/itunes-api/index.spect.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/forInstance.html
Labels: data

#2 Feature/weather api
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/user-api/index.spec.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/user-api/index.spect.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/weather-api/index.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/weather-api/index.spec.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/weather-api/index.spect.js
Labels: data

#4 Feature/home logic
  staff/groups/batmom-y-robin/wtunes-react-app/README.md
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/weather-api/index.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/data/weather-api/index.spec.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/homeLogic.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/homeLogic.spec.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/index-home.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/index-home.spec.js
Labels: logic

#5 register logic
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/index-register.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/index-register.spec.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/index.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/logic/index.spec.js
Labels: logic

#7 Features/app
  staff/groups/batmom-y-robin/wtunes-react-app/src/App.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/components/App.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/components/Landing/index.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/index.js
Labels: components

#9 feature/component-register
  staff/groups/batmom-y-robin/wtunes-react-app/package.json
  staff/groups/batmom-y-robin/wtunes-react-app/src/components/App.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/components/Register/index.js
Labels: components

#10 feature/component-home
  staff/groups/batmom-y-robin/wtunes-react-app/src/components/App.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/components/Home/index.js
  staff/groups/batmom-y-robin/wtunes-react-app/src/components/Register/index.js
Labels: components
